.items.ng-star-inserted {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    position: relative;
    top: 20px;
    color: #2d8f9b;
    right: -55px;
    cursor: pointer;
}
.movies {
    display: flex;
    position: relative;
    margin-top: 22px;
    right: -22px;
    height: fit-content;
    width: fit-content;
  }
  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    position: relative;
    right: 25px;
    top: 5px;
}
.for_grid.ng-star-inserted {
    display: grid;
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 12px;
    justify-items: center;
    gap: 30px;
    right: -10px;
    top: -5px;
}

input.ng-pristine.ng-valid.ng-touched {
    height: 32px;
    border-radius: 8px;
    outline: none;
}