<div class="items" *ngIf="data.genre == true">
    <div *ngFor="let item of genre">
       <p (click)="genreget(item)">{{item}}</p>
    </div>
   </div>
  

   <div class="for_grid" *ngIf="data.movie==true">
   <div>
   <div class="movies" >
  <div>
    <input type="text" [(ngModel)]="movie" placeholder="Search any Movie">
  </div>
  <div>
<mat-icon>search</mat-icon>
  </div>
   </div>
  </div>
  <div class="btn">
  <button type="submit" mat-raised-button (click)="moviesearch()">Search</button>
  </div>
  </div>