
<body>
    <div class="big_container">
      <div class="box">
        <div class="box_logo">
          <img src="../../../assets/pic/yo.png" alt="">
        </div>
        <div class="box_input">
          <form action="" [formGroup]="form" method="post" (ngSubmit)="data()">
            <div class="inputs">
              <div class="formGroup">
                <label class="email">email</label> <input type="email" formControlName="email" name="email" id="" >
                  <mat-error *ngIf="f.email.errors?.['required'] && (f.email.touched || f.email.dirty)">Email is required</mat-error>
                  <mat-error *ngIf="f.email.errors?.['email'] && (f.email.dirty)">Invalid email</mat-error>
              </div>
              <div class="formGroup">
                <label class="password">password</label><input type="password" formControlName="password" name="password">
                <mat-error *ngIf="f.password.errors?.['required'] && (f.password.touched || f.password.dirty)">Password is required</mat-error>
              </div>
                <mat-error *ngIf=""></mat-error>
            </div>
            <div class="btns">
              <div class="submit">
                <button type="submit"  class="login_btn">Login</button>
              </div>
              <div class="link">
                <a href="signup" class="signup_btn">Singup</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </body>
  
  