<div class="Forget_container" *ngIf="data.fogetpassword">
    <div class="gif_1">
        <marquee behavior="alternate"><img src="../../../assets/pic/giphy.webp" alt=""></marquee>
    </div>
    <div class="text">
        <p>
            Forget Your Password?
        </p>
    </div>
    <div class="labels">
        <p>Trouble loggin in? Enter the Email used To signup</p>
    </div>
    <div class="Forget-password">
        <form action="" [formGroup]="ForgetForm" (ngSubmit)="submit()">
            <div class="form_field">
                <mat-form-field appearance="fill" class="forget_form">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="Enter your Email" formControlName="email" [autocomplete]="'off'">
                </mat-form-field>
            </div>
            <div class="error_message">
                <app-dialogvalidators [field]="ForgetForm.get('email')" error="required"
                    message="Email is required"></app-dialogvalidators>
                <app-dialogvalidators [field]="ForgetForm.get('email')" error="email"
                    message="Email is invalid"></app-dialogvalidators>
            </div>
            <div class="Email_btn">
                <button mat-raised-button color="warn" type="submit" [disabled]="ForgetForm.invalid"
                    matTooltip="Get OTP in the Email"> Submit your Email</button>
            </div>
        </form>
    </div>
    <div class="gif_2">
        <marquee> <img src="../../../assets/pic/goku-vs-frieza-fight.gif" alt=""></marquee>
    </div>
</div>




<div *ngIf="data.otp == true">
    <div class="Otp_label">
        <div class="otp_label">
            <label for="">Enter The Otp sent to your mail</label>
        </div>
        <div>
            <ng-otp-input [formCtrl]="otp" [config]="{length:6}" class="otp"></ng-otp-input>
        </div>
        <div *ngIf="OtpValidator"><mat-error *ngIf="otp.errors">Otp Required</mat-error></div>
        <div class="otp_btn">
            <div class="resendotp">
                <button mat-button class="Resend_otp" (click)="resendotp()" color="primary">Resend Otp</button>
            </div>
            <div class="otpsubmit">
                <button type="submit" class="otp_submit" (click)="otpSubmit()" mat-button
                    color="primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="data.Changepassword ==  true">
    <div class="changepass">
        <div class="container">
            <form action="" [formGroup]="forgetpassword" (ngSubmit)="resetpassword()">
                <div class="pass_labels">
                    <label for="">Password</label>
                    <div class="pass_input">
                        <input type="text" formControlName="password">
                    </div>
                </div>
                <div class="Cpass_labels">
                    <label for="">Confirm Password</label>
                    <div class="Cpass_input">
                        <input type="text" formControlName="confirmPassword">
                    </div>
                    <div *ngIf="reset_password_error == true">
                        <mat-error *ngIf="forgetpassword.get('confirmPassword').errors.confirmPasswordValidator">
                            Passsword didn't match.
                        </mat-error>
                    </div>
                </div>
                <div class="change_password_btn">
                    <button mat-button class="primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>