/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font:initial;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.otp_pannel .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(--mdc-dialog-container-shape, var(--mdc-shape-medium, 15px));
}

body.mat-typography {
  background: #110f0f;
}

span.ng-star-inserted {
  color: aquamarine;
}
.ngx-pagination .pagination-previous a:before, .ngx-pagination .pagination-previous.disabled:before {
  content: "\ab";
  display: inline-block;
  margin-right: .5rem;
  color: aquamarine;
}


.ngx-pagination a, .ngx-pagination button {
	cursor: pointer;
	color: aquamarine !important;
}
