<app-toolbar></app-toolbar>
<app-slider></app-slider>
<mat-tab-group (selectedIndexChange)="tabchange($event)">
  <mat-tab label="Recent Episodes">
    <div class="fixer_card">
      <div class="Mat_card_container">
        <ng-container class="Anime_cards" >
          <div class="fixing_card">
            <mat-card *ngFor="let item of animedata" (click)="Watch(item.animeId)">
              <img [src]="item.animeImg" alt="Will fix in sometime">
              <mat-card-content>
                <div class="Anime_name">
                  <p>{{item.animeTitle}}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
      </div>
      <div class="pagination_css">
        <div>
          <button class="Previous" (click)="Previous()">Previous</button>
        </div>
        <div>
          <button>{{p}}</button>
        </div>
        <div>
          <button class="Next" (click)="next()">Next</button>
        </div>
      </div>
    </div>
    <ng-template [ngIf]="loader">
      <div class="psoload">
        <div class="straight"></div>
        <div class="curve"></div>
        <div class="center"></div>
        <div class="inner"></div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Dub Recent Episodes">
    <div class="fixer_card">
      <div class="Mat_card_container">
        <ng-container class="Anime_cards" >
          <div class="fixing_card">
            <mat-card *ngFor="let item of animedata" (click)="Watch(item.animeId)">
              <img [src]="item.animeImg" alt="Will fix in sometime">
              <mat-card-content>
                <div class="Anime_name">
                 <p >{{item.animeTitle}}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
      </div>
      <div class="pagination_css">
        <div>
          <button class="Previous" (click)="DubPrevious()">Previous</button>
        </div>
        <div>
          <button>{{dp}}</button>
        </div>
        <div>
          <button class="Next" (click)="Dubnext()">Next</button>
        </div>
      </div>
    </div>
    <ng-template [ngIf]="loader">
      <div class="psoload">
        <div class="straight"></div>
        <div class="curve"></div>
        <div class="center"></div>
        <div class="inner"></div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manga">
    <div class="manga">
    <p>working on it. Will be Avaliable in the feture</p>
    </div>
  </mat-tab>
</mat-tab-group>
