<app-toolbar></app-toolbar>
<div class="card_fixer">
    <mat-card *ngFor="let item of animedata"(click)="watch(item.animeId)">
        <img [src]="item.animeImg" alt="Will fix in sometime">
        <mat-card-content>
            <div class="Anime_name">
                <p >{{item.animeTitle}}</p>
              </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="pagination_css">
  <div>
    <button class="Previous" (click)="genreget('p')">Previous</button>
  </div>
  <div>
    <button>{{page}}</button>
  </div>
  <div>
    <button class="Next" (click)="genreget('n')">Next</button>
  </div>
</div>
   

