<mat-toolbar>
    <mat-toolbar-row>
      <ng-container class="side_menubar">
       <button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
       </button>
       <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/Dashboard">
          <img src="../../../../assets/pic/icons8-home.svg" alt="will fix in sometime">
          <span>Home</span>
        </button>
        <button mat-menu-item (click)="genre()">
          <img src="../../../../assets/pic/icons8-iron-man.svg" alt="will fix in sometime">
          <span>Genre</span>
        </button>
        <button mat-menu-item (click)="movie()">
          <img src="../../../../assets/pic/reshot-icon-know-how-JQRV9MB56N.svg" alt="will fix in sometime">
          <span>Movies</span>
        </button>
        <button mat-menu-item (click)="popular()">
          <img src="../../../../assets/pic/reshot-icon-travel-ZEY6NK3CA2.svg" alt="will fix in sometime">
          <span>Popular</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <img src="../../../../assets/pic/logout.svg" alt="will fix in sometime">
          <span>Logout</span>
        </button>
      </mat-menu>
      </ng-container>
    </mat-toolbar-row>
      <mat-toolbar-row routerLink="/Dashboard">
          <div class="logo_container">
              <div class="my_logo">
                  <img  src="../../../../assets/pic/anirax.gif" alt="Will fix in sometime">
              </div>
          </div>
      </mat-toolbar-row>
      <mat-toolbar-row>
          <ng-container class="my_social">
              <div class="social_logo_container">
                  <div class="my_logo_1">
                      <img src="../../../../assets/pic/icons8-github.svg" alt="Will fix in sometime">
                  </div>
              </div>
              <div class="social_logo_container">
                  <div class="my_logo_2">
                      <img src="../../../../assets/pic/icons8-discord.svg" alt="Will fix in sometime">
                  </div>
              </div>
              <div class="social_logo_container">
                  <div class="my_logo_3">
                      <img src="../../../../assets/pic/icons8-linkedin.svg" alt="Will fix in sometime">
                  </div>
              </div>
              <div class="social_logo_container">
                  <div class="my_logo_4">
                      <img src="../../../../assets/pic/icons8-whatsapp.svg" alt="Will fix in sometime">
                  </div>
              </div>
          </ng-container>
      </mat-toolbar-row>
      <mat-toolbar-row>
          <div class="searchbar_cointainer">
                <form (ngSubmit)="AnimeSearch()" class="search_input">
                  <input type="text" name="search" [(ngModel)]="search">
                  <button matSuffix mat-button type="submit"><mat-icon>search</mat-icon></button>
                </form>
          </div>
      </mat-toolbar-row>
  </mat-toolbar>
  