.mat-toolbar-multiple-rows {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background: rgb(17, 15, 15);
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 1;
    position: relative;
  }
  
  .mat-toolbar-row.mat-toolbar-row:nth-child(1) {
    max-width: 50px;
    width: 100%;
  }
  
  .mat-toolbar-row.mat-toolbar-row:nth-child(3) {
    gap: 20px;
    justify-content: center;
  }
  
  .mat-toolbar-row.mat-toolbar-row:nth-child(2) {
    z-index: 1;
    cursor: pointer;
  }
  
  
  .mat-toolbar-row.mat-toolbar-row:nth-child(4) {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  button.mat-mdc-menu-trigger {
    display: contents;
    color: #8ea5d5;
    cursor: pointer;
  }
  
  .mat-mdc-menu-item.mdc-list-item img {
    height: 20px;
  }
  
  .mat-mdc-menu-item.mdc-list-item span {
    position: relative;
    top: -1px;
    padding-left: 3px;
  }
  
  form.ng-tns-c92-1.ng-untouched.ng-pristine.ng-valid {
    position: relative;
    top: -6px;
  }
  
  mat-toolbar.mat-toolbar {
    display: flex;
    background: #110f0f;
  }
  
  .searchbar_cointainer {
    z-index: 1;
  }
  
  .mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    color: #3dd3e4;
  }
  
  .searchbar_cointainer form.search_input.ng-untouched.ng-pristine.ng-valid {
    z-index: -1;
    position: relative;
    box-sizing: border-box;
  }
  
  .searchbar_cointainer form.search_input.ng-untouched.ng-pristine.ng-valid input {
    border-radius: 18px;
    height: 33px;
  }
  
  .searchbar_cointainer form.search_input.ng-untouched.ng-pristine.ng-valid button {
    height: fit-content;
    width: fit-content;
    position: relative;
    right: 41px;
  }
  
  .my_logo img {
    z-index: -1;
    position: relative;
  }
  
  ::ng-deep .custom-modalbox .mat-mdc-dialog-container .mdc-dialog__surface {
    background: rgba(174, 238, 217, 0.372);
    background: radial-gradient(circle, rgba(137, 86, 220, 0.438) 0%, rgba(48, 60, 193, 0.557) 100%);
    background-size: 2000px;
    background-position: right;
    animation: color 1s infinite alternate ease;
  }
  
  @keyframes color {
    0% {
      background-position: left;
    }
  }
  
  ::ng-deep .movie-box .mat-mdc-dialog-container .mdc-dialog__surface {
    background: rgba(158, 112, 228, 0.521);
    background: linear-gradient(320deg, rgba(1, 179, 255, 0.422) 0%, rgba(4, 243, 167, 0.409) 48%, rgba(10, 124, 255, 0.491) 100%);
     background-size: 2000px;
    background-position: right;
    animation: color 1s infinite alternate ease;
  }
  ::ng-deep button.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-unthemed.mat-mdc-button-base {
    background: #86e6c662 !important;
  }